<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor PDF</title>
    <link rel="shortcut icon" href="https://www.iconpacks.net/icons/2/free-pdf-icon-2616-thumb.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <script src = 'app.js'></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
     <h1>Imagem para PDF</h1>
     <div>
     <form action="/upload" method = 'POST' enctype="multipart/form-data">
        <input type="file" name = 'avatar'>
        <button type ='submit'>Converter</button>
    </form>
</div>

    </body>
</html>